#main-content {
	display: block;
	margin: 50px auto;
}
#aud-exchange-output-table {
	border-collapse: collapse;
	width: 100%;
}
#aud-exchange-output-table, 
#aud-exchange-output-table th, 
#aud-exchange-output-table td {
	border: 1px solid #888;
	background: #f8f8f8;
	text-align: center;
}